body {
    box-sizing: content-box;
    background-image: url("../images/tvbackground.jpg");
}
.container {
    background-color: white;
    border: 4px solid grey;
    margin-top: 50px;
}

h1 {
    font-size: 26px;
    text-align: center;
}
.show-btn {
    margin: 10px;
}